MONGO_URI=
JWT_SECRET=your_jwt_secret_here
OPENAI_BASE_URL=
OPENAI_API_KEY=your_api_key
OPENAI_MODEL=gemini-2.5-flash
Gorq_API_KEY=your_gorq_api_key
GOOGLE_GEMINI_API_KEY=your_gemini_key
JSEARCH_API_KEY=your_jsearch_key
RAZORPAY_KEY_ID=rzp_test_xxxx
RAZORPAY_KEY_SECRET=your_secret
IMAGEKIT_PRIVATE_KEY=your_imagekit_key
PORT=
